In [356]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re

In [385]:
df = pd.read_csv('/home/hp/TagsDatabase.csv',header=None)
df.columns = ['docID','tags']
df.head(5)

   docID                                               tags
0      0         Hiker, demon, creepy, scary, tunnel, stalk
1      1  Batman, batman beyond, who are you, narrows it...
2      2  Up, carl, russell, honor, award, scout badge, ...
3      3  Tom, jerry, sword, stab, dont care, cartoon, show
4      4  Wholesome, comic, dialogue bubble, dog, sleepi...

In [386]:
df.docID = pd.Series(["D"+str(ind) for ind in df.docID])
df.head(5)

  docID                                               tags
0    D0         Hiker, demon, creepy, scary, tunnel, stalk
1    D1  Batman, batman beyond, who are you, narrows it...
2    D2  Up, carl, russell, honor, award, scout badge, ...
3    D3  Tom, jerry, sword, stab, dont care, cartoon, show
4    D4  Wholesome, comic, dialogue bubble, dog, sleepi...

In [387]:
df.tags = df.tags.str.replace(","," ")
df.tags = df.tags.str.replace(r'\W',' ')
df.tags = df.tags.str.strip().str.lower()

In [388]:
all_text = " ".join(df.tags.values)
vocab = np.unique(word_tokenize(all_text))
vocab = [word for word in vocab if word not in stopwords.words('english')]
vocab

['2',
 '25',
 '4',
 'alone',
 'animated',
 'anime',
 'announce',
 'answer',
 'arm',
 'award',
 'badge',
 'batman',
 'battle',
 'bean',
 'bear',
 'bench',
 'better',
 'beyond',
 'big',
 'bigger',
 'bismol',
 'biting',
 'black',
 'blame',
 'blessing',
 'block',
 'body',
 'bounds',
 'brain',
 'broom',
 'bubble',
 'bustling',
 'callmecarson',
 'cardboard',
 'care',
 'carl',
 'carrying',
 'cartoon',
 'cast',
 'cat',
 'caught',
 'change',
 'charlie',
 'chef',
 'city',
 'classic',
 'cody',
 'college',
 'combine',
 'comic',
 'comparison',
 'contradict',
 'contradictory',
 'creative',
 'creepy',
 'crossover',
 'crusade',
 'crying',
 'cutout',
 'dancing',
 'dark',
 'dead',
 'demon',
 'despicable',
 'destroy',
 'dialogue',
 'dimmadome',
 'dislike',
 'diver',
 'dog',
 'dont',
 'doug',
 'dragonballz',
 'draw',
 'drink',
 'employee',
 'empty',
 'enough',
 'excuse',
 'face',
 'fall',
 'fallout',
 'fast',
 'feeding',
 'ferb',
 'fight',
 'fire',
 'fit',
 'food',
 'fool',
 'forbidden',
 'force',
 'fortress',
 'freeze',
 'frozone',
 'funny',
 'fusion',
 'game',
 'gandalf',
 'geralt',
 'girl',
 'god',
 'goofy',
 'gordon',
 'groot',
 'growing',
 'guard',
 'gunpoint',
 'guy',
 'guys',
 'hand',
 'harry',
 'hat',
 'hidden',
 'hiker',
 'holding',
 'honor',
 'hotdog',
 'inc',
 'incredibles',
 'intelligence',
 'jedi',
 'jerry',
 'jesus',
 'johnny',
 'joker',
 'jump',
 'keanu',
 'kick',
 'kid',
 'kids',
 'knowledge',
 'knows',
 'kylo',
 'laugh',
 'left',
 'lesbian',
 'life',
 'lightsaber',
 'long',
 'looking',
 'lord',
 'lotr',
 'mabel',
 'man',
 'many',
 'mark',
 'master',
 'max',
 'meet',
 'mike',
 'mista',
 'monster',
 'moseby',
 'movie',
 'mr',
 'muscle',
 'narrows',
 'ninja',
 'old',
 'option',
 'options',
 'orton',
 'osborn',
 'owner',
 'panda',
 'paper',
 'parker',
 'patrick',
 'peek',
 'pepto',
 'perry',
 'peter',
 'phineas',
 'phone',
 'pipip',
 'play',
 'pointing',
 'police',
 'political',
 'possessed',
 'prefer',
 'proud',
 'puncher',
 'putin',
 'pyro',
 'ramsay',
 'randy',
 'reaction',
 'reeves',
 'regret',
 'ren',
 'restaurant',
 'reveal',
 'ride',
 'rings',
 'russell',
 'sad',
 'said',
 'scaring',
 'scary',
 'scout',
 'sea',
 'sending',
 'serious',
 'shake',
 'shock',
 'show',
 'sign',
 'sins',
 'slapstick',
 'sleeping',
 'slide',
 'small',
 'smiling',
 'sofa',
 'soos',
 'spider',
 'split',
 'spongebob',
 'stab',
 'stalk',
 'star',
 'starwars',
 'step',
 'stereotype',
 'stone',
 'stupid',
 'support',
 'surprise',
 'surprised',
 'surreal',
 'swap',
 'sweet',
 'swing',
 'sword',
 'teaching',
 'team',
 'tear',
 'terminator',
 'think',
 'third',
 'time',
 'titans',
 'tom',
 'town',
 'toy',
 'truth',
 'tunnel',
 'turtle',
 'two',
 'undertaker',
 'underwater',
 'unexpected',
 'uno',
 'vacuum',
 'video',
 'videogame',
 'voeyer',
 'wall',
 'wars',
 'water',
 'wazowski',
 'wheel',
 'white',
 'wholesome',
 'wolverine',
 'woman',
 'women',
 'wwe',
 'yennefer',
 'zach']

In [361]:
def term_document_matrix(data, vocab= None, document_index= 'ID', text= 'text'):
    """Calculate frequency of term in the document.
    
    parameter: 
        data: DataFrame. 
        Frequency of word calculated against the data.
        
        vocab: list of strings.
        Vocabulary of the documents    
        
        document_index: str.
        Column name for document index in DataFrame passed.
        
        text: str
        Column name containing text for all documents in DataFrame,
        
    returns:
        vocab_index: DataFrame.
        DataFrame containing term document matrix.
        """
    
    vocab_index = pd.DataFrame(columns=df[document_index], index= vocab).fillna(0)
    
    for word in vocab_index.index:
        
        for doc in data[document_index]:
            
            freq = data[data[document_index] == doc][text].values[0].count(word)
            vocab_index.loc[word,doc] = freq
    
    return vocab_index

In [362]:
similarity_index = term_document_matrix(df,vocab,'docID','tags')
similarity_index

docID,D0,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,D44,D45,D46,D47,D48,D49,D50,D51,D52,D53
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
alone,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
animated,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
woman,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
women,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
wwe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
yennefer,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
zach,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [363]:
def tf_idf_score(vocab_index, document_index, inv_df= 'inverse_document_frequency'):
    """
    Calculate tf-idf score for vocabulary in documents
    
    parameter:
        vocab_index: DataFrame.
        Term document matrix.
        
        document_index: list or tuple.
        Series containing document ids.
        
        inv_df: str.
        Name of the column with calculated inverse document frequencies.
        
    returns:
        vocab_index: DataFrame.
        DataFrame containing term document matrix and document frequencies, inverse document frequencies and tf-idf scores
    """
    total_docx = len(document_index)
    vocab_index['document_frequency'] = vocab_index.sum(axis= 1)
    vocab_index['inverse_document_frequency'] = np.log2( total_docx / vocab_index['document_frequency'])
    
    for word in vocab_index.index:
        
        for doc in document_index:
            
                tf_idf = np.log2(1 + vocab_index.loc[word,doc]) * np.log2(vocab_index.loc[word][inv_df])
                vocab_index.loc[word,'tf_idf_'+doc] = tf_idf
    
    return vocab_index

In [364]:
similarity_index = tf_idf_score(similarity_index, df.docID.values)
similarity_index

docID,D0,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,tf_idf_D44,tf_idf_D45,tf_idf_D46,tf_idf_D47,tf_idf_D48,tf_idf_D49,tf_idf_D50,tf_idf_D51,tf_idf_D52,tf_idf_D53
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
alone,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
animated,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
woman,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.524788,0.000000
women,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.524788
wwe,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
yennefer,0,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
zach,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [365]:
def query_processing(query):
    """
    Pre-processing query to accomodate calculations for tf-idf score
    
    parameter:
        query: str.
        Textual query input to the system.
        
    returns:
        query: str.
        Cleaned string.
        """
    query= re.sub('\W',' ',query)
    query= query.strip().lower()
    query= " ".join([word for word in query.split() if word not in stopwords.words('english')])
    
    return query

In [366]:
query = "25$ batman' is Woman"
query_processing(query)

'25 batman woman'

In [397]:
def query_score(vocab_index, query):
    """
    Calculate tf-idf score for query terms
    
    parameter:
        vocab_index: DataFrame.
        Term document matrix with inverse document frequency and term frequencies calculated.
        
        query: str.
        Query submitted to the system
        
    returns:
        vocab_index: DataFrame.
        Term document matrix with tf-idf scores for terms per document and query terms.
    """
    
    for word in np.unique(query.split()):
        
        freq = query.count(word)
        
        if word in vocab_index.index:
            
            tf_idf = np.log2(1+freq) * np.log2(vocab_index.loc[word].inverse_document_frequency)
            vocab_index.loc[word,"query_tf_idf"] = tf_idf
            vocab_index['query_tf_idf'].fillna(0, inplace=True)
                
    return vocab_index

In [368]:
query= "25 batman alone woman"
similarity_index = query_score(similarity_index,query)
similarity_index

docID,D0,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,tf_idf_D45,tf_idf_D46,tf_idf_D47,tf_idf_D48,tf_idf_D49,tf_idf_D50,tf_idf_D51,tf_idf_D52,tf_idf_D53,query_tf_idf
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
25,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,2.524788
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
alone,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,2.524788
animated,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
woman,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.524788,0.000000,2.524788
women,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2.524788,0.000000
wwe,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
yennefer,0,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
zach,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [369]:
def cosine_similarity(vocab_index, document_index, query_scores):
    """
    Calculates cosine similarity between the documents and query
    
    parameter:
        
        vocab_index: DataFrame.
        DataFrame containing tf-idf score per term for every document and for the query terms.
        
        document_index: list.
        List of document ids.
        
        query_scores: str.
        Column name in DataFrame containing query term tf-idf scores.
        
    returns:
        cosine_scores: Series.
        Cosine similarity scores of every document.
    """
    cosine_scores = {}
    
    query_scalar = np.sqrt(sum(vocab_index[query_scores] ** 2))
    
    for doc in document_index:
        
        doc_scalar = np.sqrt(sum(vocab_index[doc] ** 2))
        dot_prod = sum(vocab_index[doc] * vocab_index[query_scores])
        cosine = (dot_prod / (query_scalar * doc_scalar))
        
        cosine_scores[doc] = cosine
        
    return pd.Series(cosine_scores)

In [370]:
cosines = cosine_similarity(similarity_index, df.docID.values, 'query_tf_idf')
cosines

D0     0.000000
D1     0.264088
D2     0.000000
D3     0.000000
D4     0.000000
D5     0.000000
D6     0.000000
D7     0.000000
D8     0.000000
D9     0.000000
D10    0.000000
D11    0.000000
D12    0.000000
D13    0.000000
D14    0.000000
D15    0.000000
D16    0.000000
D17    0.000000
D18    0.000000
D19    0.000000
D20    0.000000
D21    0.000000
D22    0.000000
D23    0.000000
D24    0.000000
D25    0.000000
D26    0.000000
D27    0.000000
D28    0.000000
D29    0.000000
D30    0.000000
D31    0.000000
D32    0.000000
D33    0.000000
D34    0.000000
D35    0.000000
D36    0.209599
D37    0.229604
D38    0.000000
D39    0.000000
D40    0.000000
D41    0.000000
D42    0.000000
D43    0.000000
D44    0.000000
D45    0.000000
D46    0.000000
D47    0.000000
D48    0.000000
D49    0.000000
D50    0.000000
D51    0.000000
D52    0.229604
D53    0.000000
dtype: float64

In [377]:
def retrieve_index(data,cosine_scores, document_index):
    """
    Retrieves indices for the corresponding document cosine scores
    
    parameters:
        data: DataFrame.
        DataFrame containing document ids and text.
        
        cosine_scores: Series.
        Series containing document cosine scores.
        
        document_index: str.
        Column name containing document ids in data.
        
    returns:
        data: DataFrame.
        Original DataFrame with cosine scores added as column.
    """
    
    data = data.set_index(document_index)
    data['scores'] = cosine_scores
    
    return data.reset_index().sort_values('scores',ascending=False).head(10).index

In [378]:
df = retrieve_index(df, cosines, 'docID')
df

Int64Index([1, 52, 37, 36, 0, 39, 29, 30, 31, 32], dtype='int64')

In [396]:
def information_system(query):
    """
    Perform a retrieval from the indexes based on the query 
    and return the document ids that are similar to the query
    
    paramters:
        query: str.
        Query submitted to the system.
        
    returns:
        indices: list.
        List of document indices which are most relevant to the query.
    """
    
    df = pd.read_csv('/home/hp/TagsDatabase.csv',header=None)
    df.columns = ['docID','tags']
    df.docID = pd.Series(["D"+str(ind) for ind in df.docID])
    
    df.tags = df.tags.str.replace(","," ")
    df.tags = df.tags.str.replace(r'\W',' ')
    df.tags = df.tags.str.strip().str.lower()
    
    all_text = " ".join(df.tags.values)
    vocab = np.unique(word_tokenize(all_text))
    vocab = [word for word in vocab if word not in stopwords.words('english')]
    
    similarity_index = term_document_matrix(df,vocab,'docID','tags')
    similarity_index = tf_idf_score(similarity_index, df.docID.values)
    
    query = query_processing(query)
    similarity_index = query_score(similarity_index,query)
    
    cosines = cosine_similarity(similarity_index, df.docID.values, 'query_tf_idf')
    indices = retrieve_index(df, cosines, 'docID')
    
    return list(indices)

In [394]:
information_system('25 batman woman alone')

[1, 52, 37, 36, 0, 39, 29, 30, 31, 32]